.divSkillsStyle{
    width: 100%;
    height: 900px;
    padding-top: 5%;
    background-image: url(assets/bg-image01.png);
    background-size: 'cover'; 
}
.solid-Skills {
    border-top: 2px solid white;
    width: 55mm;
    margin-top: 0px;
  }

.divSkillsMatrix{
    width: 100%;
    height: 15%;
    display: inline-flex;  
}
.divEachSkill-Left-inline{
    width: 100%;
    display: inline-block;
    line-height: 0px;
}
.divEachSkill-Left{
    width: 50%;
    padding-left: 20%;
    padding-right: 5%;
    padding-bottom: 0px;
    color:white;
    line-height: 0px;
}
.divEachSkill-Right{
    width: 50%;;
    padding-left: 5%;
    padding-right: 20%;
    color:white;
    line-height: 0px;
}
.divEachSkill-Right-inline{
    width: 100%;
    height: 20%;
    display: inline-block;
    font-size: 0;
    line-height: 0px;
}

.h5skillLeft{
    float: left;
    padding-left: 0%;
    font-size: large;
    display: inline-flex;
    padding: 0px;
    margin: 0px;
    vertical-align: top;
}
.h3skillLeft{
    float: right;
    padding-bottom: 0px;
    font-size: small;
    color: turquoise;
    padding: 0px;
    margin: 0px;
    vertical-align: top;
}
.h5skillRight{
    float: left;
    padding-left: 0%;
    font-size: large;
    display: inline-flex;
    padding: 0px;
    margin: 0px;
    vertical-align: top;
}
.h3skillRight{
    float: right;
    padding-bottom: 0px;
    font-size: small;
    color: turquoise;
    padding: 0px;
    margin: 0px;
    vertical-align: top;
}
